<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
    </startup>
	<connectionStrings>
<add name="BancoClientes" connectionString="Data Source=INVENT076;Initial Catalog=BancoClientes;Persist Security Info=True; TrustServerCertificate=True; User ID=sa;Password=sap@123" providerName="System.Data.Client" />	
</connectionStrings >
  <runtime>
    
  </runtime>
</configuration>